[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tk = "*"
pyqt6 = "*"
mysql-connector-python = "*"
babel = "*"
build = "*"
doit = "*"

[dev-packages]

[requires]
python_version = "3.13"
